body {
    text-align: center;
    background-color: #333333;
    font-size: small;
}

footer {
    margin-top: 20px;
    background-color: #F2F2F2;
    border-radius: 5px;
}


.tableau {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}


.tableau th {
    border: 1px solid black;
    min-width: 5em;
}


.tableau td {
    border: 1px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
}


.labels {
    margin: 10px 20px;
    font-size: large;
}

.boutons {
    background-color: #EAEAEA;
    border: none;
    border-radius: 20px;
    padding: 2px 10px;
    margin: 1px 5px;
    cursor: pointer;
}

.boutons:hover {
    color:#EAEAEA;
}

.boutons:disabled, .boutons:hover:disabled {
    background-color: #F2F2F2;
    color: #EAEAEA;
    cursor: default;
}



#niveau {
    text-align: center;
}

#niveau-label {
    color: #666666;
}

#niveau-label::before {
    background: #666666;
    background-image: url('https://leekwars.com/image/icon/house.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.niveau {
    color: #666666;
}

.niveau:hover {
    background: #666666;
}





#vie-label {
    color: #F40000;
}

#vie-label::before {
    background-image: url('https://leekwars.com/image/charac/life.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.vie {
    color: #f40000;
}

.vie:hover {
    background: #F40000;
}




#force-label {
    color: #842D00;
}

#force-label::before {
    background-image: url('https://leekwars.com/image/charac/strength.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.force {
    color: #842D00;
}

.force:hover {
    background: #842D00;
}




#sagesse-label {
    color: #5EBE00;
}

#sagesse-label::before {
    background-image: url('https://leekwars.com/image/charac/wisdom.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.sagesse {
    color: #5EBE00;
}

.sagesse:hover {
    background: #5EBE00;
}




#agilite-label {
    color: #1288F6;
}

#agilite-label::before {
    background-image: url('https://leekwars.com/image/charac/agility.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.agilite {
    color: #1288F6;
}

.agilite:hover {
    background: #1288F6;
}





#resistance-label {
    color: #FE7700;
}

#resistance-label::before {
    background-image: url('https://leekwars.com/image/charac/resistance.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.resistance {
    color: #FE7700;
}

.resistance:hover {
    background: #FE7700;
}





#science-label {
    color: #000093;
}

#science-label::before {
    background-image: url('https://leekwars.com/image/charac/science.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.science {
    color: #000093;
}

.science:hover {
    background: #000093;
}





#magie-label {
    color: #890077;
}

#magie-label::before {
    background-image: url('https://leekwars.com/image/charac/magic.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.magie {
    color: #890077;
}

.magie:hover {
    background: #890077;
}





#frequence-label {
    color: #000000;
}

#frequence-label::before {
    background-image: url('https://leekwars.com/image/charac/frequency.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.frequence {
    color: #000000;
}

.frequence:hover {
    background: #000000;
}




#mp-label {
    color: #0ba600;
}

#mp-label::before {
    background-image: url('https://leekwars.com/image/charac/mp.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.mp {
    color: #0ba600;
}

.mp:hover {
    background: #0ba600;
}



#tp-label {
    color: #ff931f;
}

#tp-label::before {
    background-image: url('https://leekwars.com/image/charac/tp.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.tp {
    color: #ff931f;
}

.tp:hover {
    background: #ff931f;
}


.maxi {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
}

.maxi div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.tab-degat:not(:empty), #bouton_puces_type_1.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(255,215,215,0.4), rgba(255,132,132,0.8)), linear-gradient(240deg, rgba(255,132,132,0) 50%, rgba(255,132,132,0.4) 50%);
    color: #440700;
}

.tab-poison:not(:empty), #bouton_puces_type_6.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(246,214,255,0.4), rgba(254,118,255,0.8)), linear-gradient(240deg, rgba(254,118,255,0) 50%, rgba(254,118,255,0.4) 50%);
    color: #4000A4;
}

.tab-entrave:not(:empty), #bouton_puces_type_7.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(236,213,254,0.4), rgba(186,117,254,0.8)), linear-gradient(240deg, rgba(186,117,254,0) 50%, rgba(186,117,254,0.4) 50%);
    color: #260046;
}

.tab-boost:not(:empty), #bouton_puces_type_5.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(213,227,255,0.4), rgba(128,144,253,0.8)), linear-gradient(240deg, rgba(128,144,253,0) 50%, rgba(128,144,253,0.4) 50%);
    color: #001042;
}

.tab-soin:not(:empty), #bouton_puces_type_2.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(238,255,215,0.4), rgba(175,255,114,0.8)), linear-gradient(240deg, rgba(175,255,114,0) 50%, rgba(175,255,114,0.4) 50%);
    color: #2B4F00;
}

.tab-bouclier:not(:empty), #bouton_puces_type_4.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(255,236,215,0.4), rgba(255,194,134,0.8)), linear-gradient(240deg, rgba(255,194,134,0) 50%, rgba(255,194,134,0.4) 50%);
    color: #442300;
}

.tab-renvoi:not(:empty), #bouton_puces_type_3.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(215,231,255,0.4), rgba(135,209,255,0.8)), linear-gradient(240deg, rgba(135,209,255,0) 50%, rgba(135,209,255,0.4) 50%);
    color: #00244C;
}

#bouton_puces_type_9.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(255,255,255,0.4), rgba(127,127,127,0.8));
    color: black;
}

#bouton_puces_type_8.activated {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(215,231,255,0.4), rgba(135,209,255,0.8)), linear-gradient(240deg, rgba(135,209,255,0) 50%, rgba(135,209,255,0.4) 50%);
    color: #00244C;
}

.tab-autre:not(:empty) {
}

.tab-portee:not(:empty), .tab-zone:not(:empty), .tab-cout:not(:empty), .tab-cooldown:not(:empty) {
    background-color: unset;
    background-image: radial-gradient(ellipse closest-corner, rgba(242,242,242,0) 70%, rgba(242,242,242,1) 100%), linear-gradient(rgba(255,255,255,0.4), rgba(127,127,127,0.8));
    color: black;
}

.activated {
    border-style: solid !important;
    border-width: thin !important;
}

#bouton_puces_type_1:disabled,
#bouton_puces_type_2:disabled,
#bouton_puces_type_3:disabled,
#bouton_puces_type_4:disabled,
#bouton_puces_type_5:disabled,
#bouton_puces_type_6:disabled,
#bouton_puces_type_7:disabled,
#bouton_puces_type_8:disabled,
#bouton_puces_type_9:disabled {
    background-color: unset;
    border: none;
    color: black;
    cursor: default;
}


hr {
    width: 600px;
}


#id-leek {
    width: 15em;
}


.parent-img-item {
    height: 55px;
    width: 152px;
}

.img-item {
    max-height: 53px;
    max-width: 150px;
}

.a-droite {
    float: right;
}

.passive-element {
    display: none !important;
}

.en_valeur {
    font-weight: bold;
}

.ajuste {
    display: inline-block;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
}

#leek-save {
    font-family: "monospace";
    font-size: x-large;
}

#legende {
    background-color: #DCE8D2;
}

.bouton-action {
    background-color: #2A2A2A;
    color: #E4E4E4;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#puces-type-buttons {
    margin-bottom: 10px;
}

.droite {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 30px;
}

.droite > button {
    margin: 5px 0px;
}

#bouton-poireau, #bouton-armes, #bouton-puces {
    background-color: #2A2A2A;
    color: #E4E4E4;
    border: none;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

#bouton-poireau:disabled, #bouton-armes:disabled, #bouton-puces:disabled {
    background-color: #F2F2F2;
    opacity: 0.9;
    color: black;
    cursor: default;
}

#container {
    background-color: #484848;
    margin: auto;
    min-width: 1200px;
    max-width: 1200px;
    padding: 5px 20px 20px 20px;
    position: relative;
    background-image: url('https://leekwars.com/image/big_leek_2.png'), url('https://leekwars.com/image/big_leek_1.png');
    background-position: 30px 65px, 950px 200px;
    background-repeat: no-repeat;
}

#titre {
    color: white;
}

#titre a:link, #titre a:visited {
    color: #DCDCDC;
}

h1 {
    font-size: xxx-large;
}

#leek-data-save {
    min-width: 200px;
}



.tooltip {
    position: relative;
    text-shadow: 0 0 2px black;
}

.tooltiptext {
    text-shadow: 0 0 0 #FFF;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #FFF;
    opacity: 0;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition: opacity 200ms;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.85;
}

.modal-parent {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.8);
    z-index: 2;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    padding: 20px;
}
